<div class="alert alert-secondary" role="alert">
  Bienvenue dans la création de votre personnage virtuel, le but est de vous représenter le plus possible.
</div>
<app-color-picker></app-color-picker>
<app-character></app-character>