<!-- Default form register -->
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">
  <p class="h4 mb-4"><img src="https://dumagueteinfo.com/classifieds/general/app/uploads/2017/03/user.png" alt="register" width="30px"> Se créer un compte</p>
  <!-- E-mail -->
  <input formControlName="email" name="email" type="email" id="email" class="form-control mb-4" placeholder="E-mail">
  <!-- Password -->
  <input formControlName="password" name="password" type="password" id="password" class="form-control mb-4" placeholder="Mot de passe" aria-describedby="defaultRegisterFormPasswordHelpBlock">
  <input name="password_2" type="password" id="password_2" class="form-control mb-4" placeholder="Répétez le mot de passe" >
  <!-- Sign up button -->
  <button mdbBtn color="info" block="true" class="my-4" type="submit">S'inscrire</button>
  <hr>
  <!-- Terms of service -->
  <p>En cliquant sur<em>s'inscrire</em> vous acceptez nos<a href="" target="_blank">conditions générales d'utilisation</a>
</form>
<!-- Default form register -->
