<input id="color-picker" class="btn btn-indigo btn-md" placeholder="Couleur de peau" [(colorPicker)]="color" [style.background]="color"/>
<input id="color-picker" class="btn btn-indigo btn-md" placeholder="Couleur des cheveux" [(colorPicker)]="color" [style.background]="color"/>
<input id="color-picker" class="btn btn-indigo btn-md" placeholder="Couleur du t-shirt" [(colorPicker)]="color" [style.background]="color"/>
<input id="color-picker" class="btn btn-indigo btn-md" placeholder="Couleur du pantalon" [(colorPicker)]="color" [style.background]="color"/>
<input id="color-picker" class="btn btn-indigo btn-md" placeholder="Couleur chaussures" [(colorPicker)]="color" [style.background]="color"/>