<!-- Default form login -->
<form class="text-center border border-light p-5">
  <p class="h4 mb-4"><img src="https://image.freepik.com/icones-gratuites/boussole_318-65444.jpg" alt="exploration" width="30px"> N2I</p>
  <!-- Email -->
  <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
  <!-- Password -->
  <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Mot de passe">
  <div class="d-flex justify-content-around">
    <div>
      <!-- Forgot password -->
      <a href="">Mot de passe oublié ?</a>
    </div>
  </div>
  <!-- Sign in button -->
  <button mdbBtn color="info" block="true" class="my-4" type="submit" (click)="onClickLogin()">Se connecter</button>
</form>
<!-- Default form login -->