<header>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <mdb-navbar-brand>
      <a class="navbar-brand" href="">N2I</a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown btn-group " dropdown>
          <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <i class="fa fa-user"></i>
            example@domain.lan
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Préférences</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Se déconnecter</a>
          </div>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>

<main>
  <div class="container">
    <div class="container-fluid mt-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<footer></footer>
